{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
        />
        <!-- Latest compiled and minified CSS -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    </head>
    <body>
        <div id="sec"></div>
        <div id="root"></div>
        <!--<link rel="stylesheet" href="{% static 'reset.css' %}" />-->
        <div id="cont-boost"></div>
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="{% static 'js/old.js' %}" ></script>
        {% render_bundle 'main' %}
        {% render_bundle 'test' %}
        {% render_bundle 'hola' %}
    </body>
</html>